.input {
  &__label {
    font-size: 1em;
  }
  &__field {
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1em;
  }
  &__eye {
    filter: invert(1);
    width: 30px;
  }
}

input.ng-invalid {
  border: 2px solid $red;
}

input.ng-empty {
  border: 2px solid $blue;
}

input.ng-valid {
  border: 2px solid $green;
}
