input.ng-invalid {
  border: 2px solid $red;
}

input.ng-empty {
  border: 2px solid $blue;
}

input.ng-valid {
  border: 2px solid $green;
}

input.noBorder {
  border: none;
}

.input {
  margin: 15px 0;
  &__label {
    font-size: $label-size;
  }
  &__field {
    @include input-field;
  }
  &__eye {
    filter: invert(1);
    width: 30px;
  }
  // & ::placeholder {
  //   padding: 0 20px;
  // }
}
