.textArea {
  &__label {
    font-size: $label-size;
    font-weight: bold;
  }
  &__title {
    @include text-area;
    font-size: $subtitle-size;
    font-weight: bold;
  }
  &__field {
    @include text-area;
    font-size: 1.3em;
  }
}
