<div ng-controller="commenterCtrl">
    <img class="logo" src="../../src/img/logo.png" alt="logo">
    <h1>ComMEnteR</h1>
    <!-- <p>Hello {{user.firstName}} {{user.lastName}}!</p> -->
    <p>{{errorMessage}}</p>
    <button type="button" ng-click="logout()">Logout</button>
    <button ng-disabled="isCreatingPost" ng-click="addPost()">Add post</button>
    <div ng-show="isAddingPost">
        <input type="text" placeholder="Add title to post" ng-model="postTitle">
        <input type="text" placeholder="Add content to post" ng-model="postContent">
        <button type="button" ng-click="createPost()">Add to wall</button>
        <button type="button" ng-click="canselCreatingPost()">Cancel</button>
    </div>

    <posts-component currentUser="$ctrl.currentUser"></posts-component>
</div>