<header-component user="currentUser"></header-component>
<div class="comPage" ng-controller="commenterCtrl">
    <p class="comPage__errorMessage">{{errorMessage}}</p>
    <button ng-class="isCreatingPost? 'btn-disabled btn-big' : 'btn btn-big'" ng-disabled="isCreatingPost"
        ng-click="addPost()">CREATE POST HERE</button>
    <div class="editing" ng-show="isAddingPost">
        <div class="input">
            <input class="input__field noBorder" type="text" placeholder="Add title to post" ng-model="postTitle">
        </div>
        <div class="input">
            <input class="input__field noBorder" type="text" placeholder="Add content to post" ng-model="postContent">
        </div>
        <div class="btn-position">
            <button ng-class="isPosting ? 'btn-disabled' : 'btn'" ng-disabled="isPosting" type="button" ng-click="createPost()">Add to wall</button>
            <button class="btn" type="button" ng-click="canselCreatingPost()">Cancel</button>
        </div>
    </div>

    <posts-component user="currentUser"></posts-component>
</div>
<footer-component></footer-component>