<img class="logo" src="../../src/img/logo.png" alt="logo">
<h1>ComMEnteR</h1>
<div class="comPage" ng-controller="commenterCtrl">
    <p class="comPage__errorMessage">{{errorMessage}}</p>
    <button class="btn" type="button" ng-click="logout()">Logout</button>
    <button class="btn" ng-disabled="isCreatingPost" ng-click="addPost()">Add post</button>
    <div class="editing" ng-show="isAddingPost">
        <input class="editing__title" type="text" placeholder="Add title to post" ng-model="postTitle">
        <input class="editing__content" type="text" placeholder="Add content to post" ng-model="postContent">
        <button class="btn" type="button" ng-click="createPost()">Add to wall</button>
        <button class="btn" type="button" ng-click="canselCreatingPost()">Cancel</button>
    </div>

    <posts-component currentUser="$ctrl.currentUser"></posts-component>
</div>