@mixin btn {
    padding: 10px 25px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid $white;
}

@mixin img-btn {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid $black;
    cursor: pointer;
}

@mixin input-field {
    width: 100%;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: $fields-text-size;
    box-sizing: border-box;
}

@mixin error-message {
    font-size: $error-message-size;
    text-align: center;
    color: $red;
    height: 32px;
}