$white: #fff;
$black: #000;
$red: #ff0000;
$blue: #0000ff;
$green: #008000;
$grey: #424242;
$grey-light: #707070;
$grey-light-opasity: #fdfdff42;

$title-size: 2em;
$subtitle-size: 1.8em;
$error-message-size: 1.5em;
$fields-text-size: 1.2em;
$label-size: 1.2em;
$text-size: 1em;