body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;
    background-color: black;
}


input.ng-invalid {
    border: 2px solid red
}

input.ng-empty {
    border: 2px solid blue;
}

input.ng-valid {
    border: 2px solid green;
}

.show-hide-eye {
    filter: invert(1);
    width: 30px;
}

.logo {
    height: 100px;
    width: 100px;
}

.error-message {
    color: red;
}