@import "./base/reset";
@import "./base/base";

@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./components/buttons";
@import "./components/inputs";
@import "./components/textArea";

@import "./layout/post";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/modal";

@import "./pages/commenterPage";
@import "./pages/signUpPage";
@import "./pages/signInPage";

body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: white;
  background-color: black;
  width: 60%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

.btn-position {
    text-align: right;
    margin-top: 10px;
}
